.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart{
    width: 85%;
    height: 85%;
    border-radius: 30px;
    background-color: white;
    display: flex;
}

.button{
    align-items: center;
    height: 40px;
    justify-content: center;
    margin-top: 10px;
    display: flex;
}

.modalContent {
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.content{
    width: 75%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.title{
    font-size: 22px;
    font-weight: 600;
}

.search{
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

.addButton{
    min-width: 150px;
    padding: 0 12px;
}
